/* insert google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* full body styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Mulish", sans-serif;
}

button {
    width: 174px;
    height: 52px;
    border: none;
    color: #FFF;
    border-radius: 8px;
    background-color: #FF5400;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.title_color {
    color: #131318;
}

.description-color {
    color: #131318b3;
}

.company_color {
    color: #FF5400;
}

/* nav section */
nav {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 5px;
}

.logo img {
    width: 48px;
    height: auto;
}

.logo h2 {
    font-size: 36px;
    font-weight: 800;
}

.logo h2 span {
    color: #FF5400;
}

nav .navbar ul {
    display: flex;
    list-style: none;
}

nav .navbar ul li {
    padding-left: 45px;
}

nav .navbar ul li a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* hero section styles */
header .hero_section {
    background: linear-gradient(180deg, #131318cc, #13131800), url("./Images/Group\ 13\ \(1\)\ \(1\).png");
    background-size: cover;
    width: 82%;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;
    margin: 0px auto 100px;
    text-align: center;
}

.hero_section h2,
.hero_section p {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
    padding-top: 106px;
}

.hero_section p {
    width: 676px;
    margin: 0px auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
    padding-top: 0px;
}

.hero_section .search_section {
    width: 800px;
    border-radius: 8px;
    background: #ffffff4d;
    padding: 16px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
}

.hero_section .search_section input,
.hero_section .search_section select {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: #FFF;
    border: none;
    padding-left: 16px;
}

.hero_section .search_section button {
    display: flex;
    padding: 16px 0px 16px 36px;
    align-items: center;
    gap: 5px;
}

.hero_section .search_section input ::placeholder,
.hero_section .search_section select ::placeholder {

    color: #13131880;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

/* popular destination styles */
.popular_destination {
    width: 80%;
    margin: 0px auto 100px;
    display: flex;
}

.popular_destination h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.popular_destination p,
.popular_destination ul li {
    width: 90%;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}

.popular_destination ul li {
    margin-bottom: 14px;
}

/* destination choice section */
.destination_choice {
    width: 80%;
    margin: 0px auto 100px;
    text-align: center;
}

.destination_choice h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.destination_choice p {
    width: 80%;
    margin: 0px auto 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.destination_choice .destination_img {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.destination_choice .destination_img p {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    position:relative;
    top: 50%;
}

.destination_choice .destination_img .srilanka p,
.destination_choice .destination_img .north p,
.destination_choice .destination_img .kashmir p {
    bottom: 145px;
}

.destination_choice .destination_img div {
    border-radius: 16px;
}

.destination_choice .destination_img div img {
    width: 100%;
}

.destination_choice .destination_img .maldives {
    width: 500px;
    height: 242px;
    background: linear-gradient(0deg, #13131833, #13131833), url("./Images/maldives.png");
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination_choice .destination_img .indonesia {
    width: 500px;
    height: 242px;
    background: linear-gradient(0deg, #13131833, #13131833), url("./Images/inonesia.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.destination_choice .destination_img .srilanka {
    width: 320px;
    height: 242px;
    background: linear-gradient(0deg, #13131833, #13131833), url("./Images/srilanka.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.destination_choice .destination_img .north {
    width: 415px;
    height: 250px;
    background: linear-gradient(0deg, #13131833, #13131833), url("./Images/north.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.destination_choice .destination_img .kashmir {
    width: 240px;
    height: 248px;
    background: linear-gradient(0deg, #13131833, #13131833), url("./Images/kashmir.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.destination_choice .destination_img .bangladesh {
    width: 415px;
    height: 246px;
    background: linear-gradient(0deg, #13131833, #13131833), url("./Images/bangladesh.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.destination_choice .destination_img .bandorban {
    width: 585px;
    height: 242px;
    background: linear-gradient(0deg, #13131833, #13131833),url("./Images/bandarban.png");
    background-repeat: no-repeat;
    background-size: cover;
}


/* why us section styles */
.why_us {
    margin-bottom: 100px;
}

.why_us h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.why_us p {
    width: 643px;
    margin: 0px auto 48px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.why_us_card {
    width: 80%;
    margin: 0px auto 100px;
    display: grid;
    grid-template-areas:
        "hotel hotel service service"
        ".     price price   ."
    ;
    column-gap: 24px;
    row-gap: 24px;
}

.why_us_card div {
    width: 100%;
    height: 284px;
    border-radius: 16px;
}

.why_us_card div img {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    padding: 32px 32px 0px 32px;
    margin-bottom: 15px;
}

.why_us_card div h2 {
    text-align: left;
    padding-left: 32px;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 12px;
}

.why_us_card div p {
    width: 80%;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 32px;
}

.why_us_card .hotel {
    grid-area: hotel;
    border: 1px solid #fbb56333;
    background-color: #fbb5630d;
    gap: 24px;
}

.why_us_card .service {
    grid-area: service;
    border: 1px solid #29cef633;
    background-color: #29cef60d;
}

.why_us_card .price {
    grid-area: price;
    border: 1px solid #e9444433;
    background: #e944440d;
}

/* Customer Testimonials section */
.testimonial {
    width: 80%;
    margin: 0px auto 100px;
    text-align: center;
}

.testimonial .testimonial_card{
    display: grid;
    grid-template-areas: 
    "card_1 . card_2"
    ".    card_3 card_3"
    ;
}

.testimonial h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.testimonial h2 + p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}

.testimonial .review_card{
    width: 100%;
    margin: 10px auto 10px;
}

.testimonial .review_card img{
    width: 40%;
    border-radius: 10px;
}

.testimonial .customer_name{
    font-size: 18px;
}

.testimonial .customer_address{
    font-size: 16px;
}

.testimonial .customer_review{
    font-size: 21px;
}

.card_1{
    grid-area: card_1;
}

.card_2{
    grid-area: card_2;
}

.card_3{
    grid-area: card_3;
    display: flex;
}

.card_3 .customer_review{
    width: 1500%;
}

/* newsletter section styles */
.newsletter {
    display: flex;
    width: 80%;
    margin: 0px auto 100px;
    gap: 24px;
}

.newsletter .subscribe_box {
    width: 38%;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter .subscribe_box h2 {
    font-size: 24px;
    font-weight: 800;
    padding: 40px 0px 0px 40px;
    margin-bottom: 16px;
}

.newsletter .subscribe_box p {
    width: 75%;
    padding-left: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}

hr {
    width: 80%;
    margin: 0px auto;
    margin-bottom: 24px;
    border-color: #1313181a;
}

.newsletter .subscribe_box input {
    width: 72%;
    margin: 0px 0px 0px 40px;
    border-radius: 8px;
    background: #1313180d;
    padding: 16px 20px;
    border: none;
    margin-bottom: 16px;
}

.newsletter .subscribe_box input::placeholder {
    color: #1313184d;
    font-size: 16px;
    font-weight: 400;
}

.newsletter .subscribe_box button {
    width: 80%;
    flex-shrink: 0;
    margin-top: 8px;
    margin-left: 40px;
}

.newsletter .img_box {
    width: 62%;
    height: 422px;
    flex-shrink: 0;
}

.newsletter .img_box img {
    width: 100%;
}

.newsletter .img_box .discount {
    width: 324px;
    height: 80px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    text-align: center;
    color: #FFF;
    border-radius: 16px;
    background-color: #FF5400;
    font-size: 24px;
    font-weight: 400;
    padding-top: 20px;
    position: relative;
    bottom: 155px;
    left: 309px;
}

.newsletter .img_box .discount h2 {
    font-size: 32px;
    font-weight: 800;
}

/* footer section styles */
footer {
    background-color: #1313180D;
    text-align: center;
}

footer .logo {
    padding-top: 110px;
    width: 30%;
    margin: 0px auto 15px;
}

footer .logo h2 {
    font-size: 32px;
}

footer p {
    width: 770px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0px auto 32px;
}

footer .icons {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto 50px;
}

footer hr {
    margin-bottom: 50px;
}

footer p:last-child {
    padding-bottom: 100px;
    margin-bottom: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}


/* styles for small devices */
@media screen and (max-width: 600px) {
    nav {
        width: 80%;
        margin: 50px auto;
        flex-direction: column;
    }

    .navbar{
        display: none;
    }

    header nav .logo img {
        width: 28px;
        margin-bottom: 10px;
    }

    header nav .logo h2 {
        font-size: 21.543px;
    }

    nav .navbar ul {
        flex-direction: column;
        text-align: center;
    }

    .hero_section h2 {
        font-size: 22px;
        padding-top: 32px;
        margin-bottom: 8px;
    }

    .hero_section p {
        width: 304px;
        margin: 0px auto 8px;
        font-size: 14px;
    }

    .hero_section .search_section {
        width: 287px;
        margin: 0px auto;
        flex-direction: column;
    }

    .hero_section .search_section input,
    .hero_section .search_section select,
    .hero_section .search_section button {
        width: 90%;
        margin-bottom: 16px;
    }

    .hero_section .search_section select,
    .hero_section .search_section button {
        width: 95%;
    }

    .hero_section .search_section button {
        padding-left: 76px;
    }

    .popular_destination {
        flex-direction: column;
    }

    .popular_destination h2 {
        font-size: 20px;
    }

    .popular_destination p,
    .popular_destination ul li {
        font-size: 14px;
    }

    .popular_destination button {
        margin-bottom: 20px;
    }

    .popular_destination .popular_img img {
        width: 100%;
        margin: 0px auto;
    }

    .destination_choice {
        width: 90%;
    }

    .destination_choice h2 {
        font-size: 20px;
    }

    .destination_choice p {
        font-size: 14px;
    }

    .destination_choice .destination_img p {
        font-size: 20px;
    }

    .destination_choice .destination_img {
        display: grid;
        gap: 24px;
        grid-template-areas: 
        "maldives"
        "indonesia"
        "srilanka"
        "north"
        "kashmir"
        "bangladesh"
        "bandorban"
        ;
    }

    .destination_choice .destination_img .maldives,
    .destination_choice .destination_img .indonesia,
    .destination_choice .destination_img .srilanka,
    .destination_choice .destination_img .north,
    .destination_choice .destination_img .kashmir,
    .destination_choice .destination_img .bangladesh,
    .destination_choice .destination_img .bandorban {
        width: 100%;
        height: 282px;
    }

    .destination_choice .destination_img .maldives{
        grid-area: maldives;
    }

    .destination_choice .destination_img .maldives p{
        bottom: 50%;
    }

    .destination_choice .destination_img .indonesia{
        grid-area: indonesia;
    }

    .destination_choice .destination_img .srilanka {
        grid-area: srilanka;
    }

    .destination_choice .destination_img .north {
        grid-area: north;
    }

    .destination_choice .destination_img .kashmir {
        grid-area: kashmir;
    }

    .destination_choice .destination_img .bangladesh {
        grid-area: bangladesh;
    }

    .destination_choice .destination_img .bandorban{
        grid-area: bandorban;
    }

    .why_us h2 {
        font-size: 20px;
    }

    .why_us p {
        width: 90%;
        font-size: 14px;
    }

    .why_us_card {
        width: 80%;
        margin: 0px auto 100px;
        display: grid;
        grid-template-areas:
            "hotel"
            "service"
            "price"
        ;
    }

    .why_us_card div img {
        width: 48px;
        height: 48px;
        margin-bottom: 10px;
    }

    .why_us_card div h2 {
        font-size: 20px;
    }

    .why_us_card div p {
        font-size: 14px;
    }

    .testimonial .testimonial_card{
        grid-template-areas: 
        "card_1"
        "card_2"
        "card_3"
        ;
    }

    .card_3{
        flex-direction: column;
    }

    .card_3 .customer_review{
        width: 100%;
    }

    .testimonial h2 {
        font-size: 20px;
    }

    .testimonial h2 + p {
        font-size: 14px;
    }

    .testimonial .customer_name{
        font-size: 16px;
    }

    .testimonial .customer_address{
        font-size: 14px;
    }

    .testimonial .customer_review{
        font-size: 19px;
    }

    .newsletter {
        flex-direction: column;
    }

    .newsletter .subscribe_box {
        width: 100%;
        height: 420px;
    }

    .newsletter .img_box {
        width: 100%;
    }

    .newsletter .img_box .discount {
        width: 215px;
        height: 55px;
        transform: rotate(-19.628deg);
        font-size: 16px;
        padding-top: 10px;
        bottom: 25%;
        left: 40%;
    }

    .newsletter .img_box .discount h2 {
        font-size: 22px;
    }

    footer .logo {
        width: 45%;
    }

    footer .logo h2 {
        font-size: 22px;
    }

    footer .logo img {
        width: 24px;
        height: 24px;
    }

    footer p {
        width: 90%;
    }
}