/* insert google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* full body styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Mulish", sans-serif;
}

button {
    color: #FFF;
    border-radius: 8px;
    background-color: #FF5400;
}

.title_color {
    color: #131318;
}

.description-color {
    color: #131318b3;
}

.company_color {
    color: #FF5400;
}

/* nav section */
nav {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo {
    display: flex;
    gap: 5px;
}

header nav .logo img {
    width: 48px;
    height: auto;
}

header nav .logo h2 {
    font-size: 36px;
    font-weight: 800;
}

header nav .logo h2 span {
    color: #FF5400;
}

nav .navbar ul {
    display: flex;
    list-style: none;
}

nav .navbar ul li {
    padding-left: 45px;
}

nav .navbar ul li a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* hero section styles */
header .hero_section {
    background: linear-gradient(180deg, #131318cc, #13131800), url("./Images/Group\ 13\ \(1\)\ \(1\).png");
    width: 82%;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;
    margin: 0px auto 100px;
    text-align: center;
}

.hero_section h2,
.hero_section p {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
    padding-top: 106px;
}

.hero_section p {
    width: 676px;
    margin: 0px auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
    padding-top: 0px;
}

.hero_section .search_section {
    width: 800px;
    border-radius: 8px;
    background: #ffffff4d;
    padding: 16px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
}

.hero_section .search_section input,
.hero_section .search_section select {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: #FFF;
    border: none;
    padding-left: 16px;
}

.hero_section .search_section button {
    width: 174px;
    height: 52px;
    border: none;
    display: flex;
    padding: 16px 0px 16px 36px ;
    align-items: center;
    gap: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.hero_section .search_section input ::placeholder,
.hero_section .search_section select ::placeholder {
    
    color: #13131880;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}



/* styles for small devices */
@media screen and (max-width: 600px) {
    nav {
        width: 80%;
        margin: 50px auto;
        flex-direction: column;
    }

    header nav .logo img {
        width: 28px;
        margin-bottom: 10px;
    }

    header nav .logo h2 {
        font-size: 21.543px;
    }

    nav .navbar ul {
        flex-direction: column;
        text-align: center;
    }
}